.left-side {
    flex-basis: 20%;
    background-color: #fff;
    border-radius: 6px;
    min-width: 200px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    position: relative;
    z-index: 999;
}

.questions-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 6px;
    padding: 20px;
}

.questions-container h2 {
    font-size: 26px;
    font-weight: bold;
    color: #19596d;
    margin-bottom: 20px;
    border-bottom: 2px solid #d0d0d0;
    padding-bottom: 10px;
}

.questions-list {
    list-style: none;
     padding: 0;
    margin: 0;
}

@media (max-width: 480px) {
    .left-side {
        transform: translateX(-100%);
        opacity: 0;
        position: absolute;
        top: 55px;
        left: 0;
        width: 70%;
        max-width: 250px;
    }

    .left-side.active {
        transform: translateX(0);
        opacity: 1;
        background: #fff;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .left-side {
        transform: translateX(-100%);
        opacity: 0;
        position: absolute;
        top: 55px;
        left: 0;
        width: 200px;
    }
    .left-side.active {
        transform: translateX(0);
        opacity: 1;
        background: #fff;
    }
}

@media (min-width: 769px) {

    .left-side {
        position: static;
        transform: translateX(0);
        opacity: 1;
    }
}